body {
  background-color: #36342B;
  color: #D0C9C2;
}
/*Stupid clearfix...
  "Magic" solutions are
  the bane of my existence...*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
header {
  overflow: hidden;
  margin: auto;
  background: linear-gradient(#BC4C34, #36342B);
}
header a.logo {
  float: left;
  max-width: 66%;
  text-decoration: none;
  padding: 1%;
}
header p#info {
  padding: 1%;
  font-size: 1vw;
  float: left;
  text-align: justify;
  overflow: hidden;
}
footer {
  padding: 1%;
  background: linear-gradient(#36342B, #A46845);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer h3{
  font-size: 1em;
}
header a h1 {
  text-align: left;
  font-size: 4vw;
  color: #D0C9C2;
}
img.logo {
  max-width: 20%;
  max-height: 20%;
  padding-right: 1%;
}
body section header {
  background: linear-gradient(#BC4C34, #A46845);
}
body section article {
  text-align: justify;
  border: 2px solid #BC4C34;
  background-color: #D0C9C2;
  color: #36342B;
  border-radius: 20px;
  box-shadow: 0 0 15px #C6915D;
}
body section article header {
  color: #D0C9C2;
  border-radius: 15px 15px 0 0;
  border-bottom: 2px solid #BC4C34;
  padding: 3px;
  padding-bottom: 5px;
  font-size: 2em;
  text-align: center;
}
body section article p {
  padding: 2%;
}
body section#notifications {
  float: left;
  width: 30%;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 1.5%;
}
body section#menu {
  float: left;
  padding-top: 3%;
  padding-right: 3%;
  padding-left: 1.5%;
  width: 60%;
}
ul, ol {
  padding: 6px;
}
li {
  display: block;
  position: relative;
  counter-increment: inst;
  padding-left: 12px;
  padding-top: 3px;
}
ul li::before {
  content: "●";
  padding-right: 14px;
}
ol li::before {
  content: counter(inst);
  padding-right: 14px;
}
