/* It should be noted that I HATE the rgb(r, g, b) format!
I've got no idea why the creators of the color-picker plugin
decided to make it the default, when #ffffff is much cleaner...*/
body {
  background-color: #36342B;
  color: #D0C9C2;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
header {
  overflow: hidden;
  margin: auto;
  background: linear-gradient(#BC4C34, #A46845);
}
header a.logo {
  float: left;
  max-width: 66%;
  text-decoration: none;
}
header p#info {
  float: left;
  text-align: justify;
  overflow: hidden;
}
footer {
  padding: 1.5%;
  background: linear-gradient(#C6915D, #A46845);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer h3{
  font-size: 1em;
}
header a h1 {
  text-align: left;
  font-size: 4vw;
  color: #D0C9C2;
}
img.logo {
  max-width: 12.5%;
  max-height: 12.5%;
}
body section#notifications article header {
  border-radius: 15px;
}
body section#notifications article {
  text-align: justify;
  border: 3px solid #D0C9C2;
  border-radius: 15px;
  box-shadow: 0 0 5px #C6915D;
}
body section#notifications {
  float: left;
  width: 31%;
  padding: 1%;
}
body section#menu {
  float: left;
  padding: 1%;
  width: 65%;
}
